<div class="column">
	<button class="btn-delete">X</button>
	<h2 class="column-title">{{ name }}</h2>
	<ul id="{{ id }}" class="column-card-list"></ul>
	<button class="add-card">Add a card</button>
</div>